<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>灵斯记</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx938d748bbf593aef</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>71</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sms</string>
		<string>tel</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAllowsCellularAccess</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Music!</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>灵斯记需要使用蓝牙。蓝牙用于与您的设备之间的通信</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>我们需要使用蓝牙功能来连接您的灵斯记设备</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Calendar full access</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendars</string>
	<key>NSCameraUsageDescription</key>
	<string>灵斯记需要访问您的相机：用于上传修改头像</string>
	<key>NSContactsUsageDescription</key>
	<string>contacts</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>灵斯记需要访问文档文件夹以读取或保存文件</string>
	<key>NSFileProtectionKey</key>
	<string>NSFileProtectionComplete</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>灵斯记想要访问您的位置权限用于定位搜索硬件</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>灵斯记想要访问您的位置权限用于定位搜索硬件</string>
	<key>NSLocationUsageDescription</key>
	<string>灵斯记想要访问您的位置权限用于定位搜索硬件</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>灵斯记想要访问您的位置权限用于定位搜索硬件</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>motion</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>我们需要保存图片/视频到您的相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>灵斯记需要访问您的相册：用于上传修改头像</string>
	<key>NSRemindersUsageDescription</key>
	<string>reminders</string>
	<key>NSSiriUsageDescription</key>
	<string>The example app would like access to Siri Kit to demonstrate requesting authorization.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>speech</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INStartAudioCallIntent</string>
		<string>INSendMessageIntent</string>
	</array>
	<key>NSUserNotificationUsageDescription</key>
	<string>需要通知权限以便发送通知</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-peripheral</string>
		<string>audio</string>
		<string>bluetooth-central</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>kTCCServiceMediaLibrary</key>
	<string>media</string>
</dict>
</plist>
